.tableCont{
  width: 490px;
  height: 300px;
  overflow-y: auto;
}

.hideButton{
  visibility: hidden;
}

.hoverShowButton:hover .hideButton{
  visibility: visible;
}

.showButton {
  visibility: visible;
}

.hbarCont {
  border-width: 0.1mm;
  border-style: solid;
  border-color: black;
  width:25px;
  /*height:10px;*/
  margin-right: 5px;
  display: inline-block;
}

.hbar{
  min-width: 1px;
  height: 1em;
  background-color: gray;
}

.barChart {
  display: inline-block;
  border-width: 0.1mm;
  border-style: solid;
  border-color: white;
  background-color: #42a5f5;
  width: 9px;
  max-height: inherit;
  min-height: 1px;

}

.palettePopUp {
  position: absolute;
  z-index: 5;
  top: 120px;
  left:310px;
}

.popover-allColors{
  position: absolute;
  z-index: 999;

  bottom: 5px;
  left: 100px;
  /*right: 50px;*/
}

.bar {
  display: inline-block;
  border-width: 0.1mm;
  border-style: solid;
  border-color: white;
  background-color: #42a5f5;
  width: 9px;
  max-height: inherit;
  min-height: 1px;

}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.colorSetting {
  display: flex;
  flex-direction: row;
}

.colorButtonCont{
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.MenuItem{
  color: blue;
}
.MenuItem.selected {
  color: blue;
}

.box{
  width: 95%;
  display: inline-block;
  opacity: 0.7;
}
.stack-top{
  padding: 3px;
  top: 10%;
  position: absolute;
  color: #404040;
}
