.hnx-widget-view svg {
	-webkit-user-select: none;
	user-select: none;
}

.hnx-widget-view .nodes .fixed .internal {
	stroke: gray;
	stroke-width: 3;
	stroke-dasharray: 6,3;
}

.hnx-widget-view .edges .fixed rect {
	stroke-width: 3;
	stroke-dasharray: 6,3;
}

.hnx-widget-view .nodes {
	cursor: pointer;
}

.hnx-widget-view .nodes .internal {
	fill: white;
}

.hnx-widget-view .nodes g:hover circle.bottom,
.hnx-widget-view .nodes .selected circle.bottom {
	stroke: black;
	stroke-width: 4;
	fill-opacity: .2;
}

.hnx-widget-view .nodes .selected {
	cursor: move;
}

.hnx-widget-view .nodes .top {
	visibility: hidden;
	pointer-events: none;
}

.hnx-widget-view .nodes .error .top {
	visibility: inherit;
}

#checkerboard rect:nth-child(3n) {
	fill-opacity: 0;
}

#checkerboard rect {
	fill: white;
}

.hnx-widget-view .nodes text {
	fill: darkgray;
	alignment-baseline: middle;
	text-anchor: middle;
	pointer-events: none;
}

.hnx-widget-view .edges {
	stroke-width: 1.5;
}

.hnx-widget-view .edges text{
	alignment-baseline: middle;
	text-anchor: middle;
	font-style: italic;
	stroke-width: 0;
}

.hnx-widget-view .edges path {
	pointer-events: visibleStroke;
	stroke-width: 1.5;
	fill-opacity: 0;
}

.hnx-widget-view .bipartite.edges rect {
	fill-opacity: 1;
	fill: white;
	stroke-width: 1.5;
}

.hnx-widget-view .edges :hover path,
.hnx-widget-view .edges :hover rect {
	fill-opacity: .5;
	fill: inherit;
	/*stroke-dasharray: 6,3;*/
	stroke-width: 3;
	cursor: pointer;
}

.hnx-widget-view .edges .selected path,
.hnx-widget-view .edges .selected rect {
	fill: inherit;
	stroke-width: 5;
	fill-opacity: .2;
}

.hnx-widget-view table.hnx-tooltip {
	border: 1px solid black;
	background: rgb(255, 255, 255, .75);
	margin: .5em;
	padding: .5em;
	max-width: 150px;
	border-collapse: unset;
	border-spacing: unset;
}

.hnx-widget-view table th {
	text-align: center;
}

.hnx-widget-view table th, .hnx-widget-view table td {
	padding:  inherit;
}

.hnx-widget-view table td:first-child {
	padding-right: .5em;
}

.hnx-widget-view .hiddenState {
	opacity: 0.1;
}

.hnx-widget-view .edge-brush rect.selection,
.hnx-widget-view .edge-brush rect.handle {
	visibility: hidden;
}

.hnx-widget-view .edge-brush line {
	stroke: lightgray;
	stroke-width: 1px;
}