.hnx-widget-view .nodes .fixed .internal {
	stroke: gray;
	stroke-width: 3;
	stroke-dasharray: 6,3;
}

.hnx-widget-view .nodes .internal {
	fill-opacity: 0;
}

.hnx-widget-view .nodes circle:hover {
	stroke: black;
	stroke-width: 2;
	fill: white;
}

.hnx-widget-view .nodes .selected circle {
	stroke: black;
	stroke-width: 4;
	fill: white;
}

.hnx-widget-view .nodes .error {
	fill: red !important;
}
.hnx-widget-view .nodes text {
	fill: darkgray;
	alignment-baseline: middle;
	text-anchor: middle;
	pointer-events: none;
}

.hnx-widget-view .edges text{
	alignment-baseline: middle;
	text-anchor: middle;
	font-style: italic;
}

.hnx-widget-view .edges path{
	pointer-events: visibleStroke;
}

.hnx-widget-view .edges path,
.hnx-widget-view .edges rect {
	stroke-width: 1.5;
	fill-opacity: 0;
}

.hnx-widget-view .edges rect {
	fill-opacity: 1;
	fill: white;
}

.hnx-widget-view .edges :hover path{
	fill-opacity: .5;
}

.hnx-widget-view .edges :hover path,
.hnx-widget-view .edges :hover rect {
	/*stroke-dasharray: 6,3;*/
	stroke-width: 3;
	cursor: pointer;
}

.hnx-widget-view .edges .selected path {
	stroke-width: 5;
	fill-opacity: .125;
}

.hnx-widget-view table.hnx-tooltip {
	border: 1px solid black;
	background: rgb(255, 255, 255, .75);
	margin: .5em;
	padding: .5em;
	max-width: 150px;
}

.hnx-widget-view .hiddenState {
	opacity: 0.1;
}

